<header>
<nav class="header-nav">
    <a class="header-title" href="/" >Home</a>
    <ul>
        <li><a  href="/alumni" >Alumni</a></li>
        <li><a href="/alumni/new" >New Alumni</a></li>
        <li><a href="/events" >Events</a></li>
        <li><a href="/events/new" >New Event</a></li>
    </ul>
</nav>

</header>