<div class="form-row">
<div class="form-item">
<label>Name</label>
<input type="text" name="name" value="<%= alumni.name%>"><br>
</div>
<div class="form-item">
<label>City</label>
<input type="text" name="city" value="<%=alumni.city%>"></div>

<div class="form-item">
    <label>Class Year</label>
<input type="text" name="classYear" value="<%=alumni.classYear%>"></div>
<div class="form-item">
<label>Admission Number</label>
<input type="text" name="admissionNumber" value="<%=alumni.admissionNumber%>"></div>
</div>

