<h2 class="page-header">Delete Alumni</h2>
<form action="/alumni/<%=alumni.id%>/delete?_method=DELETE" method="POST">
<%- include('_form_fields')%><br>
<div class="form-row form-row-end btn-row">
<a class="btn btn-primary" href="/alumni/<%=alumni.id%>">Cancel</a>
<button class="btn btn-primary" type="submit">Delete</button>
</div>
</form>